table {
    border-collapse: collapse;
    width: 100%;
}

thead th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
}

thead th, tbody td {
    border: 1px solid #ddd;
    padding: 8px;
}

tbody tr:nth-child(even){background-color: #f2f2f2;}
tbody tr:hover {background-color: #ddd;}
